*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    height: 100vh;
    width: 100vw;
    background-image: url("https://images.unsplash.com/photo-1773398348512-ed435cd0017e?q=80&w=1171&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* clip-path: circle(10% at 50% 50%); */
    /* clip-path: ellipse(30% 50% at 50% 50%); */
    clip-path:polygon(50% 0%,100% 50%,50% 100%,0% 50%)
}

/* HTML: <div class="wavy-line"></div> */
.wavy-line {
  --s: 44px; /* size of the wave */
  --b: 16px; /* thickness of the line */
  --m: 0.4; /* curvature of the wave [0 2] */
  
  background: #008c9e;
  --R: calc(var(--s)*sqrt(var(--m)*var(--m) + 1) + var(--b)/2);
  height: calc(2*var(--R));
  width: 100%;
  --_g: #0000 calc(99% - var(--b)), #000 calc(101% - var(--b)) 99%, #0000 101%;
  mask:
    radial-gradient(var(--R) at left 50% bottom calc(-1*var(--m)*var(--s)), var(--_g)) 
     calc(50% - 2*var(--s)) calc(50% - var(--s)/2 - var(--b)/2)/calc(4*var(--s)) calc(var(--s) + var(--b)) repeat-x,
    radial-gradient(var(--R) at left 50% top calc(-1*var(--m)*var(--s)),var(--_g)) 
     50% calc(50% + var(--s)/2 + var(--b)/2)/calc(4*var(--s)) calc(var(--s) + var(--b)) repeat-x;
}